html {background-color: grey; display: inline;}

#myHeader {
    background-color: #FF8900; 
    color: white;
    padding: 20px;
    text-align: center;
    font-family: var(--bs-body-font-family)
}

#pic {
    position: absolute;
    width: 80px;
    height: 51px;
    left: 793.5px;
    top: 32px;
}
#paragraph {
    color: white;
    font-size: 22px;
    text-align: center;
    left: 18px
}

*html .yui-picker-bg {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/yui/build/colorpicker/assets/picker_mask.png', sizingMethod='scale');
}

#body {
    line-height: unset!important;
}

.yui-picker-thumb {
    cursor:default;
    width:100px;
    top: -10px;
    left:0px;

}

#container {
    /* transform: scale(1.3);
    transform-origin: 0% 0% 0px; */
    /* background-color: grey; */
    position:relative; 
    box-sizing: border-box;
    display: block;
    left: 38%;
    top:-20px;
    width: 400px;
    height: 220px;
}

#link {
    position: absolute; 
    bottom: 35px; 
    left: 46.1%;
    color: blue;
}

#options { /* Options menu */
    outline:none;
    position: absolute;
    left: 659px;
    top: 388px;
}

#colortext { /* "Name your Color" */
    position: relative;
    left: 321px; 
    top: 255px;
}

#namecolor { /* "Name your Color" input box */
    position: relative;
    left: 327px;
    top: 253px;
}

#currText { /* "Current Color" */
    position: relative;
    left: 77px;
    top: 287px;
}

#currColor {  /* "Current Color" input box */
    position: relative;
    left: 83px;
    top: 288px;
    outline:none;

}

#currColor:focus {
    outline-style: none;
    box-shadow: none;
    border-color: none;
}

.noselect {
    -webkit-user-select: none; 
    user-select: none;
}

#gethex { /* Create code for current color button */
    position: relative;
    left: 615px;
    top: 325px;
}

#thetext {
    position: absolute;
    color: #E40F0F;
    left: 617px;
    top: 520px;
    font-size: 18px;
    /* background-color: white; */
    font-weight: bold;
}

#thetexttwo {
    position: absolute;
    color: #E40F0F;
    left: 539px;
    top: 520px;
    font-size: 18px;
    /* background-color: white; */
    font-weight: bold;
}

#theCode {
    background-color: black;
    white-space:pre;
    position:absolute; 
    top: 10px;
    left:-207px;
    height: 58px; 
 }

 #theCodeTwo {
    background-color: black;
    white-space:pre;
    position:absolute; 
    top: 10px;
    left:-240px;
    height: 58px; 
 }
 
 #pink {
    display:inline;
    color: #FF6ECA;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
 }
 
 #white {
    display:inline;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
 }
 
 #purple {
    display:inline;
    color: #F4D4FF;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
 }
 
 #yellow {
    display:inline;
    color: #F6DD00;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
 }
 
 #green {
    display:inline;
    color: #6B9830;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
 }