html {background-color: grey; display: inline;}

#myHeader {
    background-color: #FF8900;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: var(--bs-body-font-family)
}

#Paragraph {
    color: white;
    
}

